@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo Thambi 2', cursive;
}

:root {
    --cor-primaria: #ff9E00;
    --cor-secundaria: #4E8499;
}


body {
    background-color: var(--cor-primaria);
}

header,
ul,
#button-login,
#content-home,
#home-text,
.button-empty,
#apresentation-adoption,
#adoption-image,
.content-animal,
#adoption-text,
#about-image,
#fundoDog,
.adoption-animal,
#container-list,
.text-animal,
.form_usu,
#pg_cadastro,
#pg-cadastro-fundo,
#login,
.container-button-dados,
.button-dados,
#container-login,
#pg-admin,
#logo-menu-lateral,
.link-menu-lateral,
#filter-admin,
#filter-text,
.list-admin,
.container-list-admin-situation,
.card-header,
.form-group,
.row,
.button-form-animal,
.container-info-animal,
.info-animal,
.form-group-options,
.figure-etapa,
.container-etapa,
.container-button-etapa{
    display: flex;
}

.p-relative {
    position: relative;
}

a {
    text-decoration: none;
}

header {
    margin: 1.5vh;
    height: 4vh;
    align-items: center;
}

nav ul li {
    list-style: none;
    font-size: 1.8vw;
    width: 17vw;
}

nav ul li a {
    color: var(--cor-secundaria);
}

#button-login img {
    width: 2vw;
    height: 2vw;
    margin-left: 0.3vw;
}

#button-login {
    font-size: 1.2vw;
    color: rgb(0, 0, 0);
}

#content-logo {
    width: 40vw;
}

#content-logo img {
    width: 10vw;
}

#content-home {
    height: 93vh;
}

#home-image {
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-image img {
    height: 95vh;
    width: 50vw;
}

#home-text {
    width: 40vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--cor-secundaria);
}

#home-text h1 {
    font-size: 4.5vw;
}

#home-text h2 {
    font-size: 2.5vw;
    margin-bottom: 2vw;
}

#button-blue {
    color: var(--cor-secundaria);
    margin: 0 0 4vw 0;
    width: 7vw;
    height: 2.4vw;
    font-size: 1.8vw;
}

#button-yellow {
    color: var(--cor-primaria);
    width: 13vw;
    height: 2.1vw;
    font-size: 1.6vw;
    margin: 4vh 0 4vh 0;
}

.button-empty {
    border: solid 0.1vw;
    align-items: center;
    justify-content: center;
}

#content-adoption {
    background-color: var(--cor-secundaria);
}

#adoption-image {
    flex-wrap: wrap;
    width: 55vw;
    align-items: center;
}

.content-animal img {
    width: 20vw;
}

.content-animal {
    margin: 1.5vw 3vw 0 3vw;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1.1vw;
    height: 23vw;
}

#adoption-text {
    height: 100vh;
    width: 40vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#adoption-text h1 {
    font-size: 3.6vw;
    color: var(--cor-primaria);
    text-align: center;
}

#about {
    margin: 5vh 0 0 3vw;
}

#about h1 {
    color: var(--cor-secundaria);
    font-size: 2vw;
}

#about p {
    margin-top: 7vh;
    font-size: 1.2vw;
}

#about-tec {
    margin-top: 7vh;
}

.image-tec {
    margin-top: 5vh;
    font-size: 1.3vw;
}

.image-tec img {
    width: 7vw;
    margin-right: 3vw;
}

.tec-title {
    margin-bottom: 1.5vw;
}

#image-info {
    width: 50vw;
}

#fundoDog img {
    width: 40vw;
}

.hidden-ativo {
    display: none !important;
}

#list-adoption {
    margin-left: 3vw;
    padding-top: 5vh;
}

#list-adoption h1 {
    color: var(--cor-primaria);
    font-size: 40px;
}

#list-adoption p {
    font-size: 20px;
}


#container-list {
    margin-top: 10vh;
    flex-wrap: wrap;
}

.adoption-animal {
    width: 290px;
    height: 300px;
    border-radius: 0.8em;
    flex-direction: column;
    margin: 0 4vw 6vh 0;
}

.image-animal {
    width: 100%;
    height: 85%;
}

.image-animal img {
    width: 100%;
    height: 100%;
    border-radius: 0.8em;
}

.text-animal {
    justify-content: center;
    align-items: center;
}

.text-animal span {
    color: var(--cor-primaria);
    text-align: center;
    font-size: 25px;
}

.text-animal p {
    text-align: center;
    font-size: 10px;
}

#cadastro-usu {
    width: 45vw;
    left: 15vw;
    border-radius: 0.5em;
}

.input-dados {
    outline: none;
    width: 15vw;
    background-color: transparent;
    border: 0;
    border-bottom: 1px rgb(0, 0, 0) solid;
    display: inline-block;
    color: rgb(0, 0, 0);
    padding: 0.5vw 0.5vw;
    font-size: 1.2vw;
    transition: all .3s ease-out;
}

.label-animado {
    color: rgb(0, 0, 0);
    position: absolute;
    font-size: 1.3vw;
    top: 0.5vw;
    left: 0;
    transition: .4s;
}

.input-dados:focus~label, .input-dados:valid~label {
    font-size: 0.6vw;
    top: -0.7vw;
    left: 0 !important;
}

.input-dados:valid {
    border-bottom: 1px rgb(30, 255, 0) solid;
}

#header-login {
    width: 100%;
}

.form_usu {
    flex-wrap: wrap;
}

.form_usu span {
    color: var(--cor-secundaria);
}

#form_cadastro_usu span {
    margin: 3vh 0 5vh 10vw;
    font-size: 2.7vw;
}

#form_login_usu span {
    font-size: 4.5vw;
    margin: 18vh 0 10vh 11vw;
}

.container-input-dados {
    position: relative;
    margin: 5vh 3vw 5vh 3vw;
}

#pg-cadastro-fundo {
    height: 100vh;
    align-items: flex-end;
}

#pg-cadastro-fundo figure img {
    width: 100%;
    height: 90vh;
}

#login {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container-button-dados {
    width: 45vw;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.button-dados {
    border-radius: 0.8em;
    background-color: var(--cor-secundaria);
    width: 20vw;
    margin: 6vh 0 2vh 12vw;
    height: 1.6vw;
    font-size: 1.2vw;
    justify-content: center;
    align-items: center;
}

.button-dados:hover {
    cursor: pointer;
}

#button-dados-login{
    margin-top: 10vh;
}

#container-login {
    margin-bottom: 5vh;
}

#admin {
    background-color: #EBEFF3;
}

.menu-lateral {
    height: 100vh;
    position: fixed;
}

#menu-admin {
    width: 23vw;
    background-color: var(--cor-primaria);
}

#logo-menu-lateral {
    width: 100%;
    justify-content: center;
    margin: 4vh 0 8vh 0;
}

#logo-menu-lateral img {
    width: 80%;
}

.link-menu-lateral {
    width: 20vw;
    height: 10.8vh;
    box-shadow: 1px 1px 5px rgb(0, 0, 0);
    align-items: center;
    padding-left: 1.6vw;

}

.link-menu-lateral img {
    width: 3.6vw;
}

.link-menu-lateral span {
    margin-left: 1vw;
}

#user-icon {
    height: 4vw;
}

#logo-icon {
    height: 3.5vw;
}

#container-link {
    flex-wrap: wrap;
}

#container-link li {
    margin: 0 0 8vh 1.5vw;

}

.link-activated {
    background-color: rgb(255, 255, 255);
}

.conteudo-admin {
    margin-left: 26.5vw;
}

.conteudo-admin h1 {
    font-size: 3vw;
    margin-top: 4vh;
}

#filter-admin {
    width: 70vw;
    height: 8vh;
    background-color: rgb(255, 255, 255);
    margin: 6.15vh 0 0 0;
    box-shadow: 1px 1px 6px rgb(182, 182, 182);
    align-items: center;
}

#filter-text {
    width: 88%;
    height: 100%;
    align-items: center;
    padding-left: 2vw;
    font-size: 1.2vw;
}


#filter-admin figure img {
    width: 2vw;
}

#filter-admin a {
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
}

.conteudo-admin hr {
    margin: 4vh 0 2vh 0;
}


.list-admin {
    width: 70vw;
    height: 8vh;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 6px rgb(182, 182, 182);
    align-items: center;
    margin-top: 5vh;
    align-items: center;

}

#container-list-admin {
    height: 55vh;
    overflow: scroll;
}

.container-list-admin-situation {
    margin-left: 2vw;
    flex-direction: column;
    justify-content: center;
    width: 25%;
}

.list-bar {
    width: 2%;
    height: 100%;
}

.situation {
    font-size: 0.6vw;
    width: 3.3vw;
    height: 2vh;
    text-align: center;
    border-radius: 2px;
    color: #ced4da;
}

.situation-ativo{
    background-color: #4E8499;
}

.situation-inativo{
    background-color: #842013;
}

.list-admin-name {
    font-size: 1.4vw;

}

.button-empty-admin{
    color: rgb(0, 0, 0);
    border: solid rgb(0, 0, 0) 1px;
    padding: 0 0.6vw;
    cursor: pointer;
}

.card-admin{
    margin-top: 5vh;
    width: 70vw;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 6px rgb(182, 182, 182);
    border-radius: 3px;
    overflow: hidden;
}

.card-header{
    width: 100%;
    height: 7vh;
    background-color: var(--cor-primaria);
    align-items: center;
    padding-left: 2vw;
    font-size: 1.5vw;

}

.container-form-admin{
    width: 100%;
    padding: 3vh 0 0 3vh;
}

.form-group{
    flex-direction: column;
    margin-bottom: 3vh;
}

.input-form-admin{
    width: 35vw;
    padding: 1vh 1vw ;
    border-radius: 0.25rem;
    line-height: 1.5;
    font-weight: 400;
    border: 1px solid #ced4da;

}

#description-animal{
    margin: 3vh 0 0 4vw;
    border-radius: 0.25rem;
    padding: 1vw;

}

#input-image{
    margin: 6vh 4vw;
}

.button-form-animal{
    justify-content: center ;
    align-items: center;
    margin-top: 3vh;
}

.button-form-animal input{
    width: 20vw;
    height: 5vh;
    margin-bottom: 5vh;
    
}

.button-form-animal input:hover{

    cursor: pointer;
    background-color: var(--cor-primaria);
    
}

.span-checkbox{
    font-size: 0.8vw;
}

.margin-checkbox{
    margin-top: 2vh;
}

.container-checkbox{
    align-items: center;
}

.container-info-animal{
    width: 45%;
}

.info-animal{
    width: 90px;
    text-align: center;
    flex-direction: column;
    margin-right: 6vw;
}

.info-animal span{
    font-size: 0.9vw;
}

.info-animal-value{
    width: 90px;
    height: 25px;
    border: rgb(0, 0, 0) solid 1px;
    border-radius: 4px;
}

.container-form-options{
    margin-right: 10vw;
    margin-bottom: 5vh;
}

.figure-circle{
    width: 20px;
    height: 20px;
    border: rgb(0, 0, 0) solid 2px;
    border-radius: 10px;
    margin-right: 1vw;

}

.figure-etapa{
    width: 54%;
    justify-content: flex-end;
}

.container-button-etapa{
    width: 46%;
    justify-content: flex-end;

}

.container-etapa{
    margin-top: 2vh;
}

.circle-ativo{
    background-color: var(--cor-primaria);
}

